{
  "printWidth": 120,
  "semi": false,
  "useTabs": false,
  "singleQuote": true,
  "tabWidth": 2,
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "printWidth": 120,
        "tabWidth": 4,
        "bracketSpacing": true,
        "explicitTypes": "always"
      }
    }
  ]
}
